*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}

header, footer{
    padding: 2rem;
    background-color: #121212;
    color: white;
}

header{
    font-weight: bold;
    letter-spacing: 0.25rem;
}

footer{
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: 0.25rem;
}

main{
    padding: 0 24rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    margin-bottom: 1rem;
}