*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color: rgb(0, 0, 59);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
h1{
    font-size: 3.2rem;
}
nav ul{
    display: flex;
    gap: 28px;
    list-style-type: none;
    font-size: 1.8rem;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    outline: 5px solid #fff;  
}
article{
    padding: 8px 16px;
    width: 50vw;
}
article h2{
    text-align: center;
    margin-bottom: 15px;
    font-size: 2.8rem;
}
article p{
    font-size: 2rem;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    font-size: 1.4rem;
}
footer ul {
    display: flex;
    gap: 48px;
    list-style-type: none;
}

