/* Initial Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #dddddd;
    color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
article{
    width: 800px;
    box-shadow: 10px 10px 5px 0px rgb(0, 0, 0, 0.75);
    background-color: #ffff;
    padding: 4rem 6rem;
    border-radius: 1.4rem;
}
h1{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.8rem;
    letter-spacing: 0.2rem;
}
p{
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: 0.1rem;
}

